// Specific CSS for your home-page
body {
  background: url('pink.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

h1 {
  font-family: 'Carter One', cursive;
  color: white;
  font-size: 80px;
}

p {
  font-family: 'Carter One', cursive;
}

a {
  color: white;
}

.container {
  position: relative;
  top: 150px;
}

a:hover {
  color: rgb(51, 51, 51);
  text-decoration: none;
}


