    <section class="content-section bg-light text-center" id="about">
      <div class="background">
        <div class="container">
          <div class="row">
        <!--     <div class="col-lg-10 mx-auto"> -->
              <h1>create perfect cocktail recipes</h1>
                <p><a class="btn btn-danger" href="/cocktails">get started</a></p>
           <!--    </div> -->
            </div>
          </div>
        </div>
      </section>
