.card {
  height: 175px;
  width: 250px;
  background-position: center;
  color: white;
  margin: 40px;
  background-size: cover;
}

.card-container {
  display: flex;
  justify-content: center;
  border-style:
}
